/* Google Font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*NT's Custom Text Colors  */
.nt-text-primary {
    color: #3E3E3E !important;
}

/* Top banner area  */
.carousel-item img {
    object-fit: cover;
}

/* our packages area  */
.packages .package-3 .card{
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}
.packages .package-3 span {
    left: 80%;
}

/* Footer area  */
footer {
    background: #0B0D17;
}
.footer-content p, h3 {
    color: #D9DBE1;
}